@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

p {
    padding: 0;
    margin: 0;
}

a {
    color: rgb(30, 141, 205);
    transition: 0.5s;
}

a:hover {
    color: #C92640;
}

.img-instahead {
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 0px;
    width: 15%;
}

.blocks {
    text-align: center;
}

.container {
    font-family: 'Manrope', sans-serif;
    max-width: 100%;
    margin: 0 0% 0;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.container .logo {
    height: 130px;
}

.container p {
    font-size: 35px;
    text-align: right;
}

.container a {
    color: white;
}

.blocks-item {
    padding: 20px 0;
    text-align: center;
}

.blocks-item img {
    height: 60px;
}

.blocks-item_blue {
    background-color: rgb(30, 141, 205);
}

.blocks-item .numb {
    font-weight: 900;
    font-size: 2em;
    color: white;
}

.blocks-item .numb_blue {
    color: rgb(30, 141, 205);
}

.blocks-item-text {
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.blocks-item-text_blue {
    color: rgb(30, 141, 205);
}

.att {
    margin-left: 10px;
    margin-top: 5px;
    background-image: url("img/att.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: top;
    padding-top: 38px;
    font-size: 0.8em;
}

.att-white {
    color: white;
    margin-left: 0px;
    margin-top: 0px;
    background-image: url("img/att-white.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: top;
    padding-top: 38px;
    padding-bottom: 25px;
    font-size: 0.8em;
}

footer {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.footer-phone {
    background-image: url("img/phone.svg");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    background-size: 80px;
    margin-top: 10px;
    padding-top: 60px;
}

.footer-soc {
    text-align: center;
    height: 40px;
    margin-top: 15px;
    /* margin-bottom: 50px; */
    padding-bottom: 50px;
}

.footer-soc-img {
    height: 90px;
    width: 130px;
    text-align: justify;
}