@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

p {
    padding: 0;
    margin: 0;
}

a {
    color: rgb(30, 141, 205);
}

.img-instahead {
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 0px;
    width: 15%;
}

.blocks {
    text-align: center;
}

.container {
    font-family: 'Manrope', sans-serif;
    max-width: 100%;
    margin: 0 0% 0;
    padding-bottom: 20px;
    padding-top: 90px;
    background-color: rgb(30, 141, 205);
    color: white;
    text-align: center;
    font-weight: 900;
    background-image: url("img/tvklogowhite.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 160px;
}

.page-header {
    font-family: 'Manrope', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.list-numb-white {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
    font-weight: 900;
    font-size: 2em;
    color: rgb(30, 141, 205);
}

.list-numb-blue {
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 2em;
    color: white;
    background-color: rgb(30, 141, 205);
}

.list-numb-empty {
    height: 30px;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 2em;
    color: white;
    background-color: rgb(30, 141, 205);
}

.list-pic {
    color: rgb(30, 141, 205);
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0px;
    margin-top: 10px;
    background-image: url("img/pic.svg");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: top;
    padding-top: 90px;
    text-align: center;
}

.att {
    margin-left: 10px;
    margin-top: 20px;
    background-image: url("img/att.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: top;
    padding-top: 38px;
    font-size: 0.8em;
}

.list-inst {
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0px;
    margin-top: 0px;
    background-color:rgb(30, 141, 205);
    background-image: url("img/insta.svg");
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: top;
    padding-top: 95px;
    padding-bottom: 20px;
}

.att-white {
    color: white;
    margin-left: 0px;
    margin-top: 0px;
    background-image: url("img/att-white.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: top;
    background-color: rgb(30, 141, 205);
    padding-top: 38px;
    padding-bottom: 25px;
    font-size: 0.8em;
}

.list-text {
    color: rgb(30, 141, 205);
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url("img/txt.svg");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: top;
    padding-top: 90px;
    text-align: center;
}

.list-time {
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0px;
    margin-top: 0px;
    background-color:rgb(30, 141, 205);
    background-image: url("img/time.svg");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: top;
    padding-top: 85px;
    padding-bottom: 20px;
}

.list-tg {
    color: rgb(30, 141, 205);
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url("img/tg.svg");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: top;
    padding-top: 90px;
    text-align: center;
}

.list-emoji {
    color: white;
    font-weight: 500;
    font-size: 1.5em;
    margin-left: 0px;
    margin-top: 0px;
    background-color:rgb(30, 141, 205);
    background-image: url("img/emoji.svg");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: top;
    padding-top: 85px;
    padding-bottom: 20px;
}

footer {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.footer-phone {
    background-image: url("img/phone.svg");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    background-size: 80px;
    margin-top: 10px;
    padding-top: 60px;
}

.footer-soc {
    text-align: center;
    height: 50px;
    margin-top: 15px;
}

.footer-soc-img {
    height: 40px;
}